@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

.links{
    display: flex;
    gap: 30px;
}

#title{
    margin-right: auto;
    font-weight: bold;
}

#hero-title{
    font-size: 48px;
    font-weight: 900;
}

.hero{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 18px;
}

.hero-left{
    flex: 1;
    margin-right: 32px;
}

#button{
    background-color: #3882F6;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-size: 18px;
    color: #F9FAF8;
    margin-top: 10px;
    border: none;
}

.hero-right{
    width: 300px;
    background-color: gray;
    padding: 16px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.boxes{
    display: flex;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    gap: 60px;
    justify-content: space-around;
}

.box{
    width: 100px;
    height: 100px;
    outline: 3px #3882F6 solid;
    border-radius: 5px;
}


#midtitle{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #1F2937;
}


.info-box{
    flex-direction: column;
    display: flex;
    align-items: center;
}

.midtext{
    width: 100px;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 30px;
}

.lower-middle{
    font-size: 36px;
    background-color: #E5E7EB;
    font-weight: 300px;
    color: #1F2937;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    font-style: italic;
    padding-top: 60px;
}

.quote{
    display: flex;
    font-size: 24px;
    background-color: #E5E7EB;
    font-weight: 900px;
    justify-content: flex-end;
    padding-left: 100px;
    padding-right: 100px;
    font-weight: bold;
    padding-bottom: 50px;
}

.bottom{
    background-color: #3882F6;
    margin-left: 100px;
    margin-right: 100px;
    color: #F9FAF8;

}

#button2{
    display: flex;
    background-color: #3882F6;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-size: 18px;
    color: #F9FAF8;

}
