.header{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: flex-end;
    padding: 40px;
}

.links{
    display: flex;
    gap: 30px;
}

#title{
    margin-right: auto;
    font-weight: bold;
}

.hero{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.hero-left{
    flex: 1;
    margin-right: 32px;
}

.hero-right{
    width: 300px;
    background-color: gray;
    padding: 16px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}