body{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

.links{
    display: flex;
    gap: 30px;
}

#title{
    margin-right: auto;
    font-weight: bold;
}

#hero-title{
    font-size: 48px;
}
.hero{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

.hero-left{
    flex: 1;
    margin-right: 32px;
}

.hero-right{
    width: 300px;
    background-color: gray;
    padding: 16px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.boxes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box{
    width: 100px;
    height: 100px;
    outline: 3px #3882F6 solid;
    border-radius: 5px;
}


#midtitle{
    display: flex;
    justify-content: center;
    font-size: 36px;
}

